@charset "UTF-8";

@media screen and (max-width : 481px) {
	body {
		font-size: small;
		font-family: Verdana, Helvetica, sans-serif;
	}
	h1, h2 {
		color: #007e7e;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 130%;
	}
	#guarantee {
		border: 1px dashed white;
/* 		background-color: #a7cece; */
		padding: 25px;
		margin: 30px;
	}
}